/* Reset some default browser styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* Basic styles */
html, body {
    height: 100%; /* Ensure body and html take the full height */
    display: flex;
    flex-direction: column; /* Use flexbox for layout */
    font-family: 'Playfair Display', serif; /* Apply Playfair Display font */
    line-height: 1.6;
    background-color: #f7abda;
    color: #121212;
}

/* Ensure main content takes remaining space */
main {
    flex: 1; /* This makes the main content area take up remaining space */
    margin: 0 auto;
    background: transparent;
}

/* Header and navigation */
header {
    background: rgba(10, 20, 222, 0.5);
    color: #f7abda;
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto; /* Adjust height as needed */
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 100%;
    max-width: 450px; /* Adjust the max-width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 0px; /* Optional: Adjust margin top for spacing */
}

/* Hero Section */
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: transparent;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hero-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    display: block;
    text-decoration: none;
}

.hero-link {
    display: block;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px; /* Add margin to separate it from the button */
    font-style: italic; /* Apply italic style */
}

/* About and Contact Sections */
section {
    padding: 0px;
}

h1, h2 {
    margin-bottom: 10px;
    font-style: italic; /* Apply italic style */
}

p {
    margin-bottom: 20px;
    font-style: italic; /* Apply italic style */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background: #f7abda;
    color: #fff;
    margin-top: 20px;
    font-style: italic; /* Apply italic style */
}

/* Media queries to handle different video display */
.desktop-video {
    display: block;
}

.mobile-video {
    display: none;
}

.mobile-video-btn {
    display: none;
}

.shop-text {
    display: none;
}

@media (max-width: 768px) {
    .desktop-video {
        display: none;
    }

    .mobile-video {
        display: block;
    }

    .mobile-video-btn {
        display: block;
        position: absolute;
        bottom: 90px; /* Position the button at the bottom of the screen */
        left: 50%;
        transform: translateX(-50%);
        width: 120px; /* Set appropriate width for the image */
        height: 120px; /* Set appropriate height for the image */
        cursor: pointer;
        z-index: 2; /* Ensure it is above the video */
    }

    .shop-text {
        display: block;
        position: absolute;
        bottom: 200px; /* Adjust this value to move the image up or down */
        left: 50%; /* Adjust this value to move the image horizontally */
        transform: translateX(-50%); /* Center the image horizontally */
        width: 150px; /* Set appropriate width for the image */
        height: auto; /* Maintain aspect ratio */
        z-index: 3; /* Ensure it is above the play button */
    }

    .hero-link {
        display: none; /* Hide the shop link initially */
    }

    /* Add background image for mobile */
    .hero {
        background-image: url('KitschyBeachMobile.jpg');
        background-size: cover;
        background-position: center;
    }
}
