/* Reset some default browser styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* Ensure no white space around the body and html */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #de5eb1;
}

/* Header and navigation */
header {
    background: transparent;
    color: #fff;
    padding: 0px 0;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: white;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    display: block;
    text-decoration: none;
}

/* Main content */
main {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* About and Contact Sections */
section {
    padding: 0px;
}

h1, h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

/* Media queries to handle different video display */
.desktop-video {
    display: block;
}

.mobile-video {
    display: none;
}

@media (max-width: 768px) {
    .desktop-video {
        display: none;
    }

    .mobile-video {
        display: block;
    }
}
